Step-function/definition.asl.json
{
  "StartAt": "ValidateImage",
  "States": {
    "ValidateImage": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:<REGION>:<ACCOUNT_ID>:function:ValidateImage",
      "ResultPath": "$.validation",
      "Next": "CheckValidation"
    },
    "CheckValidation": {
      "Type": "Choice",
      "Choices": [
        {"Variable": "$.validation.isValid", "BooleanEquals": true, "Next": "ResizeImage"}
      ],
      "Default": "FailInvalid"
    },
    "ResizeImage": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:<REGION>:<ACCOUNT_ID>:function:ResizeImage",
      "ResultPath": "$.resized",
      "Next": "StoreMetadata"
    },
    "StoreMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:<REGION>:<ACCOUNT_ID>:function:StoreImageMetadata",
      "End": true
    },
    "FailInvalid": {
      "Type": "Fail",
      "Error": "InvalidFile",
      "Cause": "Uploaded file is not valid"
    }
  }
}
